body {
    margin: 0;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
}

ul > li {
    float: left;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #005;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}

.container div {
    padding: 10px;
}

.header {
    grid-column: 1 / span 3;
}

.content-large {
    grid-row-start: 3;
    grid-row-end: 1.5;
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.footer {
    grid-column: 1 / span 3;
    /* grid-column-start: 1;
    grid-column-end: 4; */
}

/* Cards */
.card {
    display: contents !important;
}
.card-img-top {
    height: 250px;
}

p {
    text-align: center;
    font-size: 18px;
}

img {
    transition: 0.4s ease-in;
    width: 100%;
}

img:hover {
    transform: scale(1.1);
}

/* Accordion */
.accordion-item {
    color: #000;
    border: none !important;
}

.accordion-button {
    color: white !important;
    background-color: crimson !important;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 85) !important;
}